@use '../abstracts/variables' as *;

.button {
  display: inline-block;
  padding: 16px 20px;
  color: $navy;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 48px;
  border: 2px solid $navy;
  background-color: $white;
  width: 100%;
  transition: all 200ms ease;
  box-shadow: 1px 1px 10px rgba(22, 28, 45, 0.1);

  @media (min-width: $small) {
    width: unset;
  }

  @media (min-width: $medium) {
    padding: 18px 22px;
  }

  @media (min-width: $large) {
    padding: 20px 24px;
  }

  &:hover {
    transform: scale(1.025);
    background-color: $navy;
    box-shadow: 1px 1px 10px rgba(22, 28, 45, 0.1);
    color: $white;
  }
}

.button--primary {
  color: $white;
  background-image: linear-gradient(90deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-size: 200% 200%;
  border-color: transparent;
  background-position: 1%;

  @media (min-width: $small) {
    width: unset;
  }

  &:hover {
    background-position: 99%;
  }
}

.button--secondary {
  color: $pink;
  border-color: $pink;
  background-color: transparent;

  &:hover {
    background-color: $pink;
    color: $white;
  }
}
