@use "../abstracts/variables" as *;

.header {
  &__nav {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 999;

    &-link {
      margin-right: 40px;
      color: $navy;
      font-weight: 700;
      opacity: 1;
      text-decoration: none;
      padding: 2px;
      text-transform: lowercase;
      transition: color 150ms ease;

      &:last-child {
        margin-right: unset;
      }

      &:hover {
        color: $pink;
      }
    }
  }
}
