@use '../abstracts/variables' as *;

.navbar {
  background-color: $black;
  border-bottom: 1px solid $white;
  min-height: 80px;
  display: flex;
  align-items: center;

  &__logo,
  &__btn {
    letter-spacing: 2px;
    font-size: 20px;
  }

  &__btn {
    position: relative;
    transition: letter-spacing 150ms ease-out;

    &:hover {
      letter-spacing: 10px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
