@use '../abstracts/variables' as *;

.next-project-banner {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: $navy;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__text {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 24px;
    color: $grey;
  }
}
