@use '../abstracts/variables' as *;
@use '../base/typography';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $small) {
    max-width: 540px;
  }
  @media (min-width: $medium) {
    max-width: 720px;
  }
  @media (min-width: $large) {
    max-width: 960px;
  }
  @media (min-width: $extra-large) {
    max-width: 1140px;
  }
}
