@use "../base/global";
@use "../abstracts/variables" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/button";

.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  &-content {
    max-width: 900px;
    margin-bottom: 60px;

    &__label {
      display: block;
      margin-bottom: 40px;
    }
    &__heading {
      margin-bottom: 60px;
    }
    &__copy {
      font-size: 18px;
      opacity: 0.7;
    }
  }

  &-cta {
    display: grid;
    column-gap: 50px;
    row-gap: 35px;

    @media (min-width: $small) {
      display: inline-grid;
      grid-template-columns: repeat(2, auto);
    }
  }
}

.featured {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $dark;

  &__container {
    columns: 380px;
    gap: 40px;
  }
}

.project {
  margin-bottom: 60px;
  break-inside: avoid;

  &:last-child {
    margin-bottom: unset;
  }

  &__link {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    border-radius: 3px;
    transition: transform 300ms ease;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
      transition: opacity 250ms ease;
      opacity: 0.4;
    }

    &:hover {
      transform: scale(1.025);

      &::after {
        opacity: 0;
      }
    }
  }

  &__img {
    display: block;
  }

  &__info {
    padding: 0 10px;
  }

  &__heading {
    color: $white;
    margin-bottom: 15px;
  }

  &__label {
    display: block;
    color: $white;
    margin-bottom: 15px;
    color: $yellow;
    opacity: 1;
  }

  &__copy {
    color: $white;
    margin-bottom: 30px;
    max-width: 400px;
  }
}
