@use "../base/global";
@use "../abstracts/variables" as *;

@use "../components/navbar";
@use "../components/button";

.hero {
  min-height: 100vh;
  background-color: $black;
  display: flex;
  align-items: center;
}

// Featured projects
.s1 {
  min-height: 100vh;
  background-color: $dark-grey;

  &__container {
    padding: 60px 0;
  }

  &__heading {
    border-bottom: 1px solid $white;
  }
}

.projects-list {
  margin: 40px 0;

  .project-item {
    border-bottom: 1px solid $white;
    padding: 20px 0;
    margin-bottom: 40px;
    min-height: 450px;
    display: grid;

    @media (min-width: $laptop) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
  }

  .content {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: $laptop) {
      padding-bottom: unset;
    }

    &__heading {
      margin-bottom: 10px;
    }

    &__sub-heading {
      letter-spacing: 1px;
    }

    &__copy {
      margin: 20px 0 50px 0;

      @media (min-width: $tablet) {
        width: 90%;
      }
    }

    &__links {
      margin-top: auto;
      display: flex;
      flex-direction: column;

      @media (min-width: $tablet) {
        flex-direction: row;
      }

      .item {
        margin: 10px 0;

        @media (min-width: $tablet) {
          margin-right: 20px;
          flex: 1;
        }
      }
    }
  }

  .picture {
    position: relative;
    overflow: hidden;

    @media (min-width: $laptop) {
      clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
    }

    &__overlay {
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $accent;
      transform: translateX(-50%);
    }

    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

// .welcome {
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   width: 100%;
//   background-color: $cream;
//   height: 40vh;
//   overflow: hidden;
//   z-index: -1;

//   &-container {
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   &-img {
//     display: inline-block;
//     height: auto;
//     width: 100%;
//     max-width: 800px;
//     margin-bottom: -10px;

//     @media (min-width: $tablet) {
//       margin-bottom: -20px;
//     }
//   }
// }

// .hero {
//   min-height: 100vh;
//   background-color: $black;
//   margin-top: 40vh;
//   padding: 60px 0;
//   display: flex;
//   align-items: center;

//   &-heading {
//     position: relative;
//     padding: 20px 0;
//     color: $white;

//     &::after {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       height: 2px;
//       width: 70px;
//       background-color: $white;
//     }

//     &-line {
//       position: relative;
//       display: block;
//       overflow: hidden;
//     }
//   }

//   // &-button-list {
//   //   margin-top: 60px;
//   //   display: flex;
//   //   flex-direction: column;

//   //   @media (min-width: $tablet) {
//   //     flex-direction: row;
//   //   }
//   // }

//   // &-button-item {
//   //   margin: 8px 0;

//   //   @media (min-width: $tablet) {
//   //     margin-right: 30px;
//   //   }
//   // }
// }

// .work {
//   background-color: $black;
//   padding: 60px 0;
// }
