@use "../base/global";
@use "../abstracts/variables" as *;

@use "../components/navbar";
@use "../components/nav";
@use "../components/button";
@use "../components/project-card";
@use "../components/footer";
@use "../components/section-header";

// *********** Home hero section ***********
.hero {
  min-height: 100vh;
  padding: 100px 0;
  display: flex;
  align-items: center;
  background-color: $dark-grey;

  &__heading {
    margin-bottom: 40px;
  }

  &__links {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.75;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0;
    margin-right: 15px;
    color: $white;
    visibility: hidden;

    &:hover {
      color: $accent;
    }
  }
}

// *********** Home featured projects section ***********
.featured-projects {
  padding: 100px 0;
  background-color: $black;

  &__list {
    margin: 40px 0;
  }
}

// *********** Home about me section ***********
.about-me {
  padding: 100px 0;
  background-color: $dark-grey;
}
