@use "../base/global";
@use "../abstracts/variables" as *;

@use "../components/button";

.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  &-content {
    max-width: 800px;
    margin-bottom: 60px;

    &__label {
      display: block;
      margin-bottom: 40px;
    }
    &__heading {
      margin-bottom: 30px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;

    @media (min-width: $small) {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 30px;
      padding-right: 60px;

      &:last-child {
        padding-right: unset;
      }
    }

    &__label {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.mockups {
  background-color: $grey;
  padding-top: 80px;
  padding-bottom: 80px;

  &__container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    align-items: flex-end;

    @media (min-width: $large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.features {
  background-color: $dark;
  padding-top: 100px;
  padding-bottom: 100px;

  &__label {
    display: block;
    color: $white;
    margin-bottom: 40px;
  }

  &__img {
    border-radius: 2px;
  }

  &__next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-label {
      display: block;
      color: $white;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.details {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 80px;

  @media (min-width: $large) {
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__box {
    &-heading {
      color: $white;
      margin-bottom: 15px;

      @media (min-width: $large) {
        margin-bottom: 25px;
      }
    }
    &-copy {
      color: $white;
    }
  }
}
