@use "../base/global";
@use "../abstracts/variables" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/button";

.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  &-content {
    max-width: 800px;
    margin-bottom: 80px;

    &__category {
      display: block;
      margin-bottom: 50px;
    }
    &__heading {
      margin-bottom: 30px;
    }
    &__tools {
      display: block;
      margin-bottom: 30px;
      color: $pink;
      opacity: 1;
    }
  }

  &-bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    column-gap: 60px;
    row-gap: 35px;
    align-items: center;

    &__label {
      display: block;
      margin-bottom: 10px;
    }

    &__link {
      width: 100%;
    }
  }
}

.mockups {
  background-color: $grey;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  &__img {
    display: block;
  }

  &__container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    align-items: flex-end;

    @media (min-width: $large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.features {
  background-color: $dark;
  padding-top: 100px;
  padding-bottom: 100px;

  &__img {
    border-radius: 2px;
  }

  &__next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-label {
      display: block;
      color: $white;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.details {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 90px;

  @media (min-width: $large) {
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__box {
    &-heading {
      color: $white;
      margin-bottom: 20px;
    }
    &-copy {
      color: $white;
    }
  }
}
