@use '../../abstracts/variables' as *;

@use '../../components/infobar';

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 52px;
  padding-bottom: 52px;

  @media (min-width: $medium) {
    padding-top: 92px;
    padding-bottom: 92px;
  }

  &__category-tag {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    color: $grey;
    margin-bottom: 48px;
  }

  &__name {
    margin-bottom: 32px;

    @media (min-width: $medium) {
      max-width: 90%;
    }
    @media (min-width: $large) {
      max-width: 85%;
    }
  }

  &__techstack {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 32px;
    color: $pink;
  }

  &__intro {
    color: $light-navy;
    margin-bottom: 72px;

    @media (min-width: $medium) {
      max-width: 90%;
    }
    @media (min-width: $large) {
      max-width: 80%;
    }
  }
}
