@use '../../abstracts/variables' as *;

.banner {
  background-color: $navy;
  padding-top: 52px;
  padding-bottom: 52px;

  @media (min-width: $medium) {
    padding-top: 92px;
    padding-bottom: 92px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__text {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;
    color: $grey;
  }
}
