$navy: #161c2d;
$light-navy: #505562;

$white: #ffffff;
$light-grey: #f1f1f1;
$grey: #8b8e96;

$blue: #4158d0;
$pink: #c850c0;
$yellow: #ffcc70;

$moviecloud-accent: #24baef;
$ghost-accent: #fc405a;

$small: "576px";
$medium: "768px";
$large: "992px";
$x-large: "1200px";
$xx-large: "1400px";
