@use "../../abstracts/variables" as *;

@use '../../components/project-card';

.featured {
  background-color: $navy;

  &__container {
    padding-top: 52px;
    padding-bottom: 52px;

    @media (min-width: $medium) {
      padding-top: 92px;
      padding-bottom: 92px;
    }
  }

  &__projects {
    columns: 500px;
    gap: 32px;
  }
}
