@use '../../abstracts/variables' as *;

.contact {
  background-color: $navy;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 52px;
    padding-bottom: 52px;

    @media (min-width: $medium) {
      padding-top: 92px;
      padding-bottom: 92px;
    }
  }

  &__heading {
    text-align: center;
    color: $light-grey;

    @media (min-width: $medium) {
      max-width: 70%;
    }

    @media (min-width: $large) {
      max-width: 55%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }

  &__item {
    margin: 0 16px;
  }

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 5px;

    &--email {
      color: $pink;
    }

    &--linkedin {
      color: $yellow;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
